<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Ma méthodologie</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Ma méthodologie de travail est de m'invertir de plus auprès de mon élève, avec un suivi régulier, en utilisant une méthode de compréhension efficace qui consiste à enseigner les bases du cours, ensuite donner des exercices de niveau de difficultés progressive. Parfois, je pose à mon élève des questions à propos du cours, pour le tester et voir s'il a bien assimilé les concepts du cours. </p>
            </div>
            <div class="col-lg-4">
                <p>Je donne toujours un premier cours gratuit à mes élèves, pour qu'ils puissent découvrir le système de cours en ligne et s'habituer à l'interface. Grâce au système LiveMentor ,se déplacer pour faire les cours de soutien devient une histoire du passé, je donne mes cours toute la semaine, et même le week-end. Parfois, il m'arrive de donner des cours après 25h le soir, si un élève n'a pas bien compris un concept avant le contrôle.</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="https://www.livementor.com/membre/Hassan-S?reserver" class="btn btn-lg btn-outline">
                    Voir Plus
                </a>
            </div>
        </div>
    </div>
</section>

