<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            
            <figure class="image" style="background-image: url(http://unsplash.it/150/150')">
                  <%= image_tag "freelancer/rounded_corners.png", class: "img-responsive", alt: "" %>
            </figure>
           
                <div class="intro-text">
                    <span class="name">Mentor en Maths et informatique</span>
                    <hr class="star-light">
                    <span class="skills">Menthor en Maths - Developpeur d'applications web</span> <br>
                     <figure class="image_livementor" style="background-image: url(http://unsplash.it/150/150')">
                  <%= image_tag "freelancer/livementor.png", class: "img-responsive", alt: "" %>
            </figure>
                    <%= render 'show_video' %>
                    
                </div>
            </div>
        </div>
    </div>
</header>

